.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: #fff;
}

@media (min-width: 1200px) {
  .specification>p {

    font-size: 14px;
  }
}

/* If the screen size is smaller than 1200px */
@media (max-width: 990px) {
  .specification>p {
    font-size: 8px;
  }
}